.howItWorks {
  background: rgba(10, 81, 105, 0.05) 0 0 no-repeat padding-box;
  .container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .data_points {
      padding-top: 2%;
      .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
    .try_now_btn {
        text-align: center;
        padding: 60px 0;
        .btn:hover {
          color: #000000;
        }
        .btn {
          height: 40px;
          width: 159px;
          font-weight:100;
          background: #3ac280 0 0 no-repeat padding-box;
          border-color: #3ac280;
          border-radius: 20px;
          text-align: center;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0;
          color: #fff;
          opacity: 1;
          min-width: 159px;
          outline: none;
          border: none;
        }
      }
  }
}
@media only screen and (min-width: 1200px) {
}
