.howItWorks {
  background: rgba(10, 81, 105, 0.05) 0 0 no-repeat padding-box;
  .container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .data_points{
        .row{

        }
    }
  }
}
