.home_video_background {
  width: 100%;
  height: 248px;

  background-color: red;
  overflow: hidden;
  position: relative;
  background: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  video {
    position: absolute;
    width: 100%;
    height: 284px;
    top: 0;
    // height: 100%;
    // top: -61.875px;
    left: 0px;
    right: 0px;
  }
  .slider_down_btn:hover {
    border: 2px solid #3ac280;
  }
  .slider_down_btn:hover:after {
    background-color: #3ac280;
    top: unset;
    bottom: -64%;
    transition-delay: 1s;
    transition: bottom 1s;
  }
  .slider_down_btn {
    float: none;
    position: absolute;
    width: 28px;
    height: 42px;
    border: 2px solid #131111;
    border-radius: 50px;
    z-index: 99999;
    cursor: pointer;
    left: calc(50% - 14px);
    margin: 220 auto;
    top: 70%;
  }
  .slider_down_btn:after {
    content: " ";
    width: 2px;
    height: 11px;
    background-color: #000;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    top: 8%;
    border-radius: 50%;
    -webkit-transition: top 0.4s;
    -o-transition: 0.4s top;
    transition: top 0.4s;
  }
}
@media only screen and (min-width: 1200px) {
  .home_video_background {
    width: 100%;
    height: 100vh;
    background-color: red;
    overflow: hidden;
    position: relative;
    background: #000;
    align-items: center;
    justify-content: center;
    display: flex;
    video {
      position: absolute;
      width: 100%;
      height: 1058.812px;
      top: -205.906px;
      left: 0px;
    }
    .slider_down_btn:hover {
      border: 2px solid #3ac280;
    }
    .slider_down_btn:hover:after {
      background-color: #3ac280;
      top: unset;
      bottom: -64%;
      transition-delay: 1s;
      transition: bottom 1s;
    }
    .slider_down_btn {
      float: none;
      position: absolute;
      width: 28px;
      height: 42px;
      border: 2px solid #131111;
      border-radius: 50px;
      z-index: 99999;
      cursor: pointer;
      left: calc(50% - 14px);
      margin: 220 auto;
      top: 70%;
    }
    .slider_down_btn:after {
      content: " ";
      width: 2px;
      height: 11px;
      background-color: #000;
      display: block;
      margin: 0 auto;
      float: none;
      position: relative;
      top: 8%;
      border-radius: 50%;
      -webkit-transition: top 0.4s;
      -o-transition: 0.4s top;
      transition: top 0.4s;
    }
  }
}
