.main_header {
  color: #f6f8f9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999999999999;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  transition: all 0.7s;
  .navBar {
    padding: 8px 16px;
  }
  .container {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
    .mpartial_logo {
      img {
        width: 217px;
      }
    }
    .navbar_toggler {
      display: flex;
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 0.25rem;
      .navbar_toggler_icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat 50%;
        background-size: 100% 100%;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAAD1BMVEVHcEwAAAAAAAAAAAAAAADTrAj/AAAABHRSTlMA4UhKtRqxjgAAACpJREFUOMtjYBgFQw4YuuAAQmBpEVzSjsRIK+I3fBSMxthojI3G2CiAAwBGSE/hXPmHywAAAABJRU5ErkJggg==);
      }
    }
    .navbar_collapse {
      display: none;
      align-items: center;
      ul {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        text-decoration: none;
        margin: 0;
        li {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          box-sizing: border-box;
          .nav_link:hover {
            color: #3ac280;
          }
          .nav_link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 32px;
            letter-spacing: 0;
            opacity: 1;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0);
            .login_btn {
              outline: none;
              border: none;
              color: #f6f8f9;
              background: #3ac280 0 0 no-repeat padding-box;
              border-color: #3ac280;
              border-radius: 20px;
              height: 30px;
              padding: 5px 25px;
              letter-spacing: 0;
              font-size: 12px;
              line-height: 16px;
              margin-left: 7%;
              white-space: nowrap;
              min-width: 20px;
            }
          }
        }
      }
    }
  }
}
.scrolled {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px #bababa;
  box-shadow: 0 1px 4px #bababa;
  color: #4a4848 !important;
}

@media only screen and (min-width: 1200px) {
  .main_header {
    color: #f6f8f9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999999999999;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    transition: all 0.7s;
    .navBar {
      padding: 8px 16px;
    }
    .container {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      font-family: Raleway, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-box-direction: normal;
      box-sizing: border-box;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      max-width: 1140px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      flex-wrap: nowrap;
      .mpartial_logo {
        img {
          width: 217px;
        }
      }
      .navbar_toggler {
        display: none;
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 0.25rem;
        .navbar_toggler_icon {
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          vertical-align: middle;
          content: "";
          background: no-repeat 50%;
          background-size: 100% 100%;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAAD1BMVEVHcEwAAAAAAAAAAAAAAADTrAj/AAAABHRSTlMA4UhKtRqxjgAAACpJREFUOMtjYBgFQw4YuuAAQmBpEVzSjsRIK+I3fBSMxthojI3G2CiAAwBGSE/hXPmHywAAAABJRU5ErkJggg==);
        }
      }
      .navbar_collapse {
        display: flex;
        align-items: center;
        ul {
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          text-decoration: none;
          margin: 0;
          li {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            box-sizing: border-box;
            .nav_link {
              padding-right: 0.5rem;
              padding-left: 0.5rem;
              text-align: center;
              font-weight: 400;
              font-size: 12px;
              line-height: 32px;
              letter-spacing: 0;
              opacity: 1;
              text-decoration: none;
              background-color: rgba(0, 0, 0, 0);
              .login_btn {
                outline: none;
                border: none;
                color: #f6f8f9;
                background: #3ac280 0 0 no-repeat padding-box;
                border-color: #3ac280;
                border-radius: 20px;
                height: 30px;
                padding: 5px 25px;
                letter-spacing: 0;
                font-size: 12px;
                line-height: 16px;
                margin-left: 7%;
                white-space: nowrap;
                min-width: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1651px) {
}
