.feeStructure {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  color: rgb(10, 81, 105);
  padding-bottom: 20px;
  .container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .section_title_description {
      max-width: 620px;
      margin: 0px auto;
      text-align: center;
      font-size: 14px;
    }
  }
}
